<section class="relative h-[500px] overflow-hidden">
    <!-- Carousel Images -->
    <div id="carousel" class="absolute inset-0 transition-opacity duration-1000">
      <!-- London -->
      <div class="carousel-item absolute inset-0 w-full h-full bg-cover bg-center opacity-0" style="background-image: url('https://imgs.search.brave.com/nkFm23adgE2UM--TC0RK2joZfUmCAZPKpOEmQRdZwtU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTc0/NzI2NzA4L3Bob3Rv/L2xvbmRvbi1iaWct/YmVuLWFuZC10cmFm/ZmljLW9uLXdlc3Rt/aW5zdGVyLWJyaWRn/ZS5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9SzBFY1ExRXFf/RjIydmVrOEw5Q1ZS/Q3d3MTJnNlYzTFBk/V0dib0YwTk1Xbz0');"></div>
      <!-- Los Angeles -->
      <div class="carousel-item absolute inset-0 w-full h-full bg-cover bg-center opacity-0" style="background-image: url('https://imgs.search.brave.com/srfwXa2sJ-hUHbu5djrASVzXw5lConux7XTqVwkm0lo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNDky/NjI5NTYxL3Bob3Rv/L3N1bnNldC1hdC1t/YWxkaXZpYW4tYmVh/Y2guanBnP3M9NjEy/eDYxMiZ3PTAmaz0y/MCZjPWJMeExOVUsx/SzlZSHBqREJOX3Jt/cGVqX3pnVlNDTlpu/OUh5UERnLW1rWHc9');"></div>
      <!-- Paris -->
      <div class="carousel-item absolute inset-0 w-full h-full bg-cover bg-center opacity-0" style="background-image: url('https://imgs.search.brave.com/K1MF7Lovvswe-qk3Kf-MGdcoexPRuFA7sb1gwMYPMXQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAwLzQ0LzMxLzMw/LzM2MF9GXzQ0MzEz/MDc3X3NHbXd5WElT/cEZWc0NtcEt2bndF/eFBxNkZGM3FzSGRh/LmpwZw');"></div>
      <!-- Tokyo -->
      <div class="carousel-item absolute inset-0 w-full h-full bg-cover bg-center opacity-0" style="background-image: url('https://imgs.search.brave.com/W7d2NkuK5bXoMBhkmcTlzbx58g8Hczcphli4guPWi6c/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAxLzY0LzgyLzgx/LzM2MF9GXzE2NDgy/ODE1OF83cG82MmVi/VlNpT09pYURoVVdy/aEFiOVNCSDlBeFJW/dS5qcGc');"></div>
      <!-- Singapore -->
      <div class="carousel-item absolute inset-0 w-full h-full bg-cover bg-center opacity-0" style="background-image: url('https://imgs.search.brave.com/10WGTgp5hhmnhD3poErwbBHsW2zJgXaeuJOM4L-sDvk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTY0/MDI2NDI2L3Bob3Rv/L2FzYWt1c2EtdG9r/eW8uanBnP3M9NjEy/eDYxMiZ3PTAmaz0y/MCZjPTVpdEFvTldh/RENscXVkM2NxZUFH/YnRlSUFQZWdqWkZE/UU5wQnVYNjQ4czg9');"></div>
    </div>
  
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/40 flex items-center justify-center">
      <h2 class="text-5xl font-bold text-white text-center">Explore the World's Most Iconic Cities</h2>
    </div>
  </section>