<div class="destination-section mb-10">
    <h1 class="text-5xl pf-font font-bold text-black text-center my-10">Destinations</h1>
    <div class="container content">
        <div class="mx-5 grid md:grid-cols-3 gap-4 wow animate__fadeInUp" data-wow-duration="1s">
            <!-- London -->
            <div class="relative group">
                <img loading="lazy" class="img-dest img-london rounded-lg w-full h-full object-cover" src="https://imgs.search.brave.com/nkFm23adgE2UM--TC0RK2joZfUmCAZPKpOEmQRdZwtU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTc0/NzI2NzA4L3Bob3Rv/L2xvbmRvbi1iaWct/YmVuLWFuZC10cmFm/ZmljLW9uLXdlc3Rt/aW5zdGVyLWJyaWRn/ZS5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9SzBFY1ExRXFf/RjIydmVrOEw5Q1ZS/Q3d3MTJnNlYzTFBk/V0dib0YwTk1Xbz0" alt="London Image">
                <div class="hover:cursor-pointer absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-50 rounded-lg">
                    <p class="text-white text-2xl font-thin pf-font">London</p>
                </div>
            </div>

            <!-- Paris -->
            <div class="relative group">
                <img loading="lazy" class="img-dest img-paris rounded-lg w-full h-full object-cover" src="https://imgs.search.brave.com/3pcXAOZ76HE8lPOerXAV5Irojgm4Xj9qlWW0sSQL2Wo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzE0Lzc0LzEx/LzM2MF9GXzIxNDc0/MTE0Nl9qQXBqZUdr/VTNHU1BTcExoenlN/c3VwUDdmcnBBaDFY/SC5qcGc">
                <div class="hover:cursor-pointer absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-50 rounded-lg">
                    <p class="text-white text-2xl font-thin pf-font">Paris</p>
                </div>
            </div>

            <!-- Singapore -->
            <div class="relative group">
                <img loading="lazy" class="img-dest img-singapore rounded-lg w-full h-full object-cover" src="https://imgs.search.brave.com/7pzeePLQ73T3ezVXUJRDvmv7SiTQYPlXeId_9y2zR3o/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQ3/Mjg2NDM3OC9waG90/by9zaW5nYXBvcmUt/c2t5bGluZS5qcGc_/cz02MTJ4NjEyJnc9/MCZrPTIwJmM9Ti1i/SGdCU295NU85dHFt/S0hZVC1HcUNWVkMt/RUU3OFdrWlhhUko5/X0s5az0" alt="Singapore Image">
                <div class="hover:cursor-pointer absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-50 rounded-lg">
                    <p class="text-white text-2xl font-thin pf-font">Singapore</p>
                </div>
            </div>

            <!-- Maldives -->
            <div class="relative group">
                <img loading="lazy" class="img-dest img-maldives rounded-lg w-full h-full object-cover" src="https://imgs.search.brave.com/vvOcxh-ifXwvYQzDD4ENFnYg_AdMDCRwgY4Xm06Te-0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTUz/MDA2MTg0L3Bob3Rv/L21hbGRpdmVzLXZp/bGxhLXBpbGVzLW9u/LXdhdGVyLmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz1ZRXdy/ZTZUSFlfVkRfeUlm/SE9BSUJCX2otdElN/WUJOak1XRG01U1hI/SU9RPQ" alt="Maldives Image">
                <div class="hover:cursor-pointer absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-50 rounded-lg">
                    <p class="text-white text-2xl font-thin pf-font">Maldives</p>
                </div>
            </div>

            <!-- Rome -->
            <div class="relative group">
                <img loading="lazy" class="img-dest img-rome rounded-lg w-full h-full object-cover" src="https://imgs.search.brave.com/-PcvNoCshGueFrS_I1A1Tn8zIYb2gYj3cyIgzbp5Ypk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAxLzc2LzEwLzYz/LzM2MF9GXzE3NjEw/NjM2Ml9ta2Q2TGRj/dVRRTzlmTjJCT0Vr/bU9BTXh1ZUZnVVlq/Ny5qcGc" alt="Rome Italy Image">
                <div class="hover:cursor-pointer absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-50 rounded-lg">
                    <p class="text-white text-2xl font-thin pf-font">Rome</p>
                </div>
            </div>

            <!-- Los Angeles -->
            <div class="relative group">
                <img loading="lazy" class="img-dest img-la rounded-lg w-full h-full object-cover" src="https://imgs.search.brave.com/yfKbSg9WnD38JgMVLsMXOKFlj63AglOScWjgwzl6rds/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTIx/MjM3NjQ1NC9waG90/by9sb3MtYW5nZWxl/cy1hZXJpYWwtdmll/dy5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9WE5LVVVzbU4w/eGYxcUF5ZVlhN291/VXBhLUl4X3ktOG82/bFM2N3V5cHVMZz0" alt="Los Angeles Image">
                <div class="hover:cursor-pointer absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-50 rounded-lg">
                    <p class="text-white text-2xl font-thin pf-font">Los Angeles</p>
                </div>
            </div>
        </div>
    </div>
</div>