<div class="container content">
    <div class="quote my-10">
      <h1 class="text-5xl font-bold pf-font mb-10 text-center">Client Testimonial</h1>
      <h1 class="text-2xl font-thin italic text-center text-wrap mx-auto max-w-2xl">
        "Traveling with Jet & Jade's felt like stepping into a dream—every detail was perfect, every moment unforgettable. They turned our vacation into a lifetime of memories!"
      </h1>
      <div class="flex justify-center mt-8">
        <div class="text-center">
          <img 
            loading="lazy"
            src="https://imgs.search.brave.com/MbxDMPr86J_W6fMZEozMav963lMDxpmOO8eYOZN-TbM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA1Lzk1Lzc5Lzgy/LzM2MF9GXzU5NTc5/ODI4NV80SDhYemdi/cTd2bVNTaGdpODJa/MkFlVWc3MXdzTE5T/QS5qcGc" 
            alt="Happy client" 
            width="100"
            height="100"
            class="mt-10 rounded-full object-cover mx-auto"
          >
          <p class="text-xl font-semibold mt-4">Alicia Presdes</p>
        </div>
      </div>
    </div>
  </div>